<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="js/content.js"></script>

    </head>
    <script>
    </script>
    <body>
            
        {{{sections}}} 

        <div id="toplayer" class="layers">
            <div class="p-group">


                <div class="layer">
                    <div class="outer">
                        
                        <div class="box">
                            <div class="side front">
                                <div class="enter">
                                    Enter
                                </div>
                            </div>
                            <div class="side back"></div>
                            <div class="side left"></div>    
                            <div class="side right"></div>    
                            <div class="side top"></div> 
                            <div class="side bottom"></div> 
                        </div>

                    </div>
                    
                    
                </div>

            </div>
            
                
        </div>
    </body>
</html>